.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 100px 0px 120px;
}
.image{
    width: 350px;
    height: 350px;
    border-radius: 200px;
    margin: 19px;
}
.image:hover{
    scale: calc(1.1);
    transition: 0.7s;
}

.parrafo{
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px white;
    text-align: justify;
    font-size: 30px;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        margin: 0;

    }
    .image{
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin: 5px;
    }

    
    .parrafo{
        font-size: 16px;
    }

}